*{
	margin: 0;
	padding: 0;
}

.leftfloat{
	float: left;
}

.header{
	height: 70px;
	background-color: #000;
	margin: 0;
	opacity: 0.8;
}
.logo{
	position: absolute;
	left: 50px;
	top:7px;
}
.logo a{
	text-decoration: none;
}
.logo-text{
	transition: 0.5s;
	color: #FFF;
	font-size: 60px;
	margin: 0;
	margin-left: 45px;
}
.logo-text:hover{
	transition: 0.2s;
	text-shadow: 0 0 40px #0ea;
}
.menu a{
	text-decoration: none;
}
.menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 70px;
	float: right;
	padding-right: 40px;
}
.menu ul li{
	transition: 0.5s;
	text-align: center;
	display: inline-block;
	font-family: Arial;
	color: #DDD;
	font-size: 18px;
	min-width: 70px;
	margin-left: 12px;	
}
.menu ul li:hover{
	transition: transform 0.5s;
	border-bottom: 4px solid #07ae49;
	height: 74px;
	transform: translateY(-10px);
}
.menu li a{
	text-decoration: none;
}
ul{
	margin:0px;
	padding:0px;
	margin-top: 80px;
}

ul li{
	list-style:none;
}

ul li a{
	background:#1C1E1F;
	color:#ccc;
	border-bottom:1px solid #111;
	display:block;
	width:210px;
	padding:10px;
	text-decoration: none;
}
a{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
/*Внешний вид меню*/
.top-menu{
	margin-top: -20px;
    margin-left: -21px;
}
.top-menu a{
	background: #3d3d3d;
	color: #fff;
	padding: 10px;
	display: block;
	border-bottom: 1px solid #666;
	transition: 0.5s all;
}
.side{
	width: 200px;
	margin: 20px;
}
.top-menu a:hover{
	background: #07ae49;
	padding: 10px 0 10px 20px;
}
.top-menu li:first-child a, .top-menu li .menu__drop li:first-child a{
	border-radius: 3px 3px 0 0;
}
.top-menu li:last-child a, .top-menu li .menu__drop li:last-child a{
	border-radius: 0 0 3px 3px;
	border-bottom: 0;
}
.top-menu li .menu__drop li a{
	border-radius: 0;
	border-bottom: 1px solid #666;
}
/*Всплывающее меню*/
.menu__list{
	position: relative;
}
.menu__drop{
	position: absolute;
	width: 100%;
	left: 100%;
	top: -99999em;
	opacity: 0;
	border-left: 10px solid transparent; 
	transition: 0.5s opacity;
}
.menu__list:hover .menu__drop{
	opacity: 1;
	top: 0;
}
.block{
	background-color: #606061;
	height: 675px;
	display: block;
    float: left;
    width: 229px;
    opacity: 0.8;
}
/*Иконки для всплывающего меню*/
.menu__list:after{
	content: " ";
	position: absolute;
	border:10px solid;
	border-color: transparent transparent transparent #07ae49;
	top: 1em;
	right: -0.5em;
	transition: 0.5s;
}
.menu__list:hover::after{
	transform: scaleX(-1);
}
/*.exit{
margin-left: 850px;
display: inline-block;
padding: 9px 15px;
background: #000000;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
border-radius: 3px;
color: #fff;
text-transform: capitalize;
font-size: 12px;
border-radius: 8px;
}
.check{
display: inline-block;
padding: 9px 15px;
background: #f70404;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
border-radius: 3px;
color: #fff;
text-transform: capitalize;
font-size: 12px;
border-radius: 8px;
}*/
.footer{
	background: #000000;
   left: 0; bottom: 0;
	padding: 10px;
	height: 330px;
	margin-top: 50%;
	color: white;
	padding: 0;
}
.form_row{
	margin-bottom: 8px;
	overflow: hidden;
}
.form_row input{
	float: right;
	height: 19px;
	line-height: 19px;
	padding: 0px 5px;
	width: 287px;
	border: 1px solid #ABADB3;
	color: #e96969;
}
.reg_form{
	width: 416px;
	margin: 0px auto;
}
h1{
	color: #fbfafa;
	text-align: center;
}
.form_row textarea{
	height: 90px;
	line-height: 16px;
	font-style: 12px;
	padding: 0px 5px;
	width: 404px;
	border: 1px solid #ABADB3
}
.form_row input[type=submit]{
	padding: 5px;
	height: 25px;
	width: 100%;
	line-height: 10px;
	background: #000000;
	color: white;
}
.form_row input[type=submit]:hover{
background: #07ae49;
}
/*Таймер*/
.timer{
	text-align: center;
    color: rgb(255, 0, 0);
    font-size: 42px;
    font-family: Gabriola;
    height: 0px;
    margin-left: 530px;
}
/*Форма обратной связи*/
.modal{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background:rgba(0, 0, 0, .5);
	pointer-events: none;
	display: none;
	z-index: 99999;
}
.modal:target{
	display: block;
	pointer-events: auto;
}
.popup{
	width: 500px;
	position: relative;
	margin: 10% auto;
	padding: 90px;
	background: #000000;
	margin-bottom: 8px;
}
.close{
	width: 30px;
	height: 30px;
	position: absolute;
	color: #fff;
	font-weight: bold;
	font-size: 35px;
	top: -31px;
	right: -15;
	text-decoration: none;
	display: block;
}
.write_to_us a{
	text-decoration: none;
}
.write_to_us ul{
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 70px;
	float: right;
	padding-right: 40px;
}
.write_to_us ul li{
	transition: 0.5s;
	text-align: center;
	margin-top: -50px;
	font-family: Arial;
	color: #DDD;
	font-size: 18px;
	min-width: 70px;
	margin-left: 12px;	
}
.write_to_us ul li:hover{
	transition: transform 0.5s;
	border-bottom: 4px solid #07ae49;
	height: 74px;
	transform: translateY(-10px);
}
.write_to_us li a{
	text-decoration: none;
}
ul{
	margin:0px;
	padding:0px;
	margin-top: 80px;
}

ul li{
	list-style:none;
}

ul li a{
	background:#1C1E1F;
	color:#ccc;
	border-bottom:1px solid #111;
	display:block;
	width:210px;
	padding:10px;
	text-decoration: none;
}
a{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}